.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButtonContainer {
  position: absolute;
  top: 48px;
  left: 10px;
}


/* FilterDesign.css */
.filters-overlay {
  position: fixed;
  top: 46px;
  left: 0;
  height: 100vh;
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.posts-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 1; /* Ensure it appears above the background but below other overlay elements */
}