.container {
    display: flex;
    flex-direction: column;
    align-items: top; /* Center horizontally */
    justify-content: top; /* Center vertically */
    height: 100vh;
  }
  
  h2 {
    color: #666666;
    margin-top: 15px 0;
    align-items:end; /* Center horizontally */
    justify-content: end; /* Center vertically */

  }
  
  input[type="password"] {
    margin: 10px 0;
    padding: 8px;
    border: 2px solid #8f8f8f;
    border-radius: 5px;
  }
  
  button {
    background-color: #ffffff;
    color: #666666;
    padding: 10px 35px;
    border: 2px solid #8f8f8f;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b6dcf8;
  }
  
  p {
    color: #696667;
    font-weight: bold;
    margin-top: 10px;
  }